* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
}

section {
    min-height: 100vh;
    width: 100%;
    background: url(index.jpg)no-repeat;
    background-position: center;
    background-size: cover;
}

.cabecalho a {
    text-decoration: solid;
    background: transparent;
    font-size: 2em;
    color: #fff;

}

.Login a {
    position: absolute;
    right: 48px;
    top: 4px;
}

.Inicio a {
    position: absolute;
    right: 150px;
    top: 4px;
}

.Login a ion-icon {
    position: absolute;
    right: -30px;
    color: #fff;
    font-size: 1em;
    top: 5px;

}

.descricao h1 {
    position: absolute;
    left: 17px;
    top: 130px;
    font-size: 4em;
    color: #fff;
}

.descricao h2 {
    position: absolute;
    left: 30px;
    top: 200px;
    font-size: 2.5em;
    color: #8400ff;
}

.descricao h3 {
    position: absolute;
    left: 40px;
    top: 240px;
    font-size: 2em;
    color: #8400ff;
}
.descricao h4{
    position: absolute;
    font-size: 1.1em;
    color: #ffffff;
    left: 60px;
    top: 330px;
}

.img {
    width: 300px;
}

.img a {
    position: relative;
    display: inline-block;
    margin-right: 2px;
    font-size: 3em;
    left: 10px;
    margin-top: 700px;
    color: #4c00ff;
}
